<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Audio Recognition Demo With Deep learning</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
    <!-- <link rel="stylesheet" type="text/css" href="/static/css/style.css"> -->
    <link rel="stylesheet" type="text/css" href="/static/css/login.css">
</head>
<!-- <body>
<form action="init_and_redirect" autocomplete="on" id="u_name">
    <!-- <link rel="stylesheet" type="text/css" href="/static/css/style.css"> -->
    <link rel="stylesheet" type="text/css" href="/static/css/login.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->

    <div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->

        <!-- Icon -->
        <div class="fadeIn first">
        <img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="User Icon" />
        </div>

        <!-- Login Form -->
        <form>
        <!-- <input type="text" id="login" class="fadeIn second" name="login" placeholder="login">
        <input type="text" id="password" class="fadeIn third" name="login" placeholder="password"> -->
        <label for="u_name"><b>Username</b></label>
        <input type="text" class="fadeIn second" placeholder="User name:" name="user_name" required>
        <!-- <input type="submit" class="fadeIn fourth" value="Log In"> -->
        <button type="submit" class="fadeIn fourth" onclick="" lass="fadeIn fourth" >Record</button>
        </form>

        <!-- Remind Passowrd -->
        <!-- <div id="formFooter">
        <a class="underlineHover" href="#">Forgot Password?</a>
        </div> -->

    </div>
    </div>
    <!-- <div class="container"> -->
        <!-- <label for="u_name"><b>Username</b></label> -->
        <!-- <input type="text" placeholder="User name:" name="user_name" required> -->
<!--        <label for="u_name">Chọn id</label>-->
<!--        <select name="id_1" id="id_1">-->
<!--            {% for id in list_id %}-->
<!--            <option value={{id}}>{{id}}</option>-->
<!--            {% endfor %}-->
<!--        </select>-->
<!--        <select name="id_2" id="id_2">-->
<!--            {% for id in list_id %}-->
<!--            <option value={{id}}>{{id}}</option>-->
<!--            {% endfor %}-->
<!--        </select>-->
        <!-- <button type="submit" onclick="">Record</button> -->
    <!-- </div> -->
<!-- </form> -->
</body> -->
</html>